.container{ 
    border: 2px solid black;
    text-align: right;   
}
h1{
    text-align: center;
}
h4{
    text-align: center;
}
card-container{
    text-align: right;
}
label,
footer{
    font-family:sans-serif; ;
}
label{
    font-size:1rem;
    padding-right:10px;
}
select {
    font-size: .9rem;
    padding: 2px 5px;
}
footer {
    font-size: .8rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.button{
    background-color:#4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
box {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}
Img {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}